	#navigation ul {
	list-style: none;
	display: block;
	padding: 40px;
	margin: 0px;
	background-color: #fff;
	color: #fff;
	border: 1px dashed black;
  }
   #navigation ul li {
	float:left;
	width: 20%;
	padding:0px;
	margin-top:-8px;
  } 
  a:link, a:visited {
	color:#000;
	text-decoration: none;
  }
  .login {
	display: block;
	margin: 39px;
  }

  input, p, h1 {
	padding: 10px;
	margin: 10px;
	display: block;
  }
  
  h1 {
	margin-left: 33px;
  }

  #login {
	height: 300px;
  }
  #footer {
	background-color: #fff;
	height: 300px;
	color: #000;
	border: 1px dashed black;
  }
  .test {
	color: blue;
	font-weight: bold;
  }
  #header {
	  margin-top: 30px;
  }
  
  footer > div {
	  margin-top:33px;
  }

  ul {
	  list-style:none;
  }
  #menuOut {
	transition: ease-in 0.3s;
	background-color: #fff;
    z-index: 2;
    display: none;
    border: 1px dashed black;
    position: absolute;
    right: 0;
    top: 65px;
    width: 200px;
  }

  .menuShown {
  /* place menu effects here */
  transition: ease-in 0.3s;
  background-color: #fff;
  width: 200px;
  height: 400px;
  z-index: 2;
  float:right;
  margin-top: 81px;
  margin-right: 0px;
  border: 1px dashed black;
  display:none;
  }

  li, ul {
  padding: 0px;
  margin-left: 0px;
  }
  li {
	 padding: 10px;  
  }
  .menuShown li {
  border-bottom: 1px solid #333;
  }
  #hamburger {
  background-color: white;
  padding:0px;
  float:right;
  margin-top: 20px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  overflow:hidden;
  }